# Ignorar arquivos do Docker
/db-data
*.log
docker-compose.override.yml  # Ignorar arquivos de configuração de ambiente específicos
*.env                        # Caso esteja usando variáveis de ambiente

# Ignorar arquivos temporários do sistema
.DS_Store
Thumbs.db

# Ignorar dependências gerenciadas pelo Composer
/vendor
/composer.lock

# Ignorar arquivos de cache do Drupal
/web/sites/default/files
/web/sites/default/private
/web/sites/default/tmp
/web/sites/default/settings.php       # Ignorar configurações específicas do site
/web/sites/default/settings.local.php # Ignorar configurações locais de desenvolvimento
/web/sites/default/services.yml       # Arquivo de configuração de serviços

# Configuração automática do Drupal
/web/sites/default/files
/web/sites/default/private
/web/sites/default/files/translations

# Cache, logs e arquivos temporários
/web/sites/*/files/styles
/web/sites/*/files/tmp
/web/sites/*/files/php
/web/sites/*/files/js
/web/sites/*/files/css

# Arquivos exportados do Drupal (configurações geradas no runtime)
/web/sites/default/config_*

# Ignorar módulos e temas customizados (se não forem parte do repositório)
# Você pode descomentar as linhas abaixo se não quiser versionar esses módulos/temas
#/web/modules/custom
#/web/themes/custom

# Cache de performance do sistema
.cache
*.bak
*.swp
*.swx

# Arquivos relacionados ao Node.js, se você estiver usando o tema com front-end
node_modules
npm-debug.log
yarn-error.log

# --- Custom rules for /web/sites/default/files ---
# Ignore everything in /web/sites/default/files
/web/sites/default/files/*

# Allow image files to be tracked
!/web/sites/default/files/2024-10/*.jpg
